*{margin:0 0 0 0;
    padding: 0;
font-family: Roboto, arial;
box-sizing: border-box}
body{background-color: black;
}
#wrapper{
    max-width: 1000px;
    margin: 0 auto ;
    background-color: antiquewhite
}
header img {width: 100%;
display: block}
nav{
    background-color: cadetblue;
    
  
    
}
a.menu {display: inline-block;
    width: 25%;
        padding:15px 30px 15px 30px;
    color: white;
            text-decoration: none;
    text-align: center;
    transition: all 1s ease;
    
    
    
}
a.menu:hover {background-color: crimson;
}
img:hover {border-bottom: 10px solid red;}  



article {margin-top:30px;
margin-bottom:20px;
    padding: 0 20px;
    
}

article h1{ 
    font-size: 30px;
    text-align: center;
margin:0 10% 20px 10%;
background-color: dimgrey;
padding-bottom: 15px;
    border-bottom: 2px solid yellow;
    
}
img.left{float: left;
margin: 0px 10px 50px 0px;
    width: 25%;
    border-radius: 50% 30%;
   
    
}
article p{ text-align: justify;
line-height: 25px;
font-size: 18px;
padding: 15px 0 15px 0;dfr
}
iframe{
    width: 100%
}
footer{
    height: 40px;
    background-color: darkcyan;
    color: white;
    line-height: 40px;
    text-align: center;
    margin-top: 10px;
}
@media{ max-width:800px;}

